{% extends "base.html" %}

{% block title %}Driver Info{% endblock %}

{% block content %}
<h1 class="mt-4">Driver Info</h1>
{% if not driver.empty %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Driver Code</th>
                <th>Driver Name</th>
                <th>Team</th>
                <th>Lap Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in driver.itertuples() %}
                <tr>
                    <td>{{ row.abbr_driver }}</td>
                    <td>{{ row.driver }}</td>
                    <td>{{ row.car }}</td>
                    <td>{{ row.lap_time_formatted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data available for this driver.</p>
{% endif %}
<a href="{{ url_for('main.drivers') }}" class="btn btn-primary">Back to Drivers List</a>
{% endblock %}
